extends layout

block content
    //h1= title
    //p Welcome to #{title}
    div(class="container")
        div(id="links")
        div(id="login_area")
    script(type="text/javascript" src="/javascripts/index.js")
